/* * {
    margin: 0;
}
div{
    display: block;
}


.full-page {
    height: 0px;
}
.main-container {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    height: 100vh;
}
.side-nav {
    width: 440px;
    background: #1a1a1a;
    display: flex;
    flex-direction: column;
    color: #ccc;
    height: 100vh;
}
.main-button {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #ccc;
    
}

.button {
    text-decoration: none;
    font-size: 16px;
    margin-left: 15px;

}
.nav-buttons {
    margin-top: 20px;
} */
.all-note-title {
    background-color:#f8f8f8 ;
    width: 37rem;
    top: 0;
    
}
h2 {
    margin-left: 32px;
}
.all-notes {
    display: flex;
    flex-direction: column;
    height: 98%;
    max-width: 670px;
    min-width: 330px;
    width: 380px;
    background: #f8f8f8;
    border-right: 1px solid #e6e6e6;
    overflow-y: scroll;
}

.notes{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;;
}

.note-title {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;
    background-color: #f8f8f8;
}

.note-filler {
    background-color: #f8f8f8;
    padding: 20px;
    height: 85%;
}

.note-border {
    flex: 1;
    overflow-y: auto;
    height: 120px;
    width: 60em;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    border: 1px solid #e6e6e6;
    text-decoration: none;
}
